.pageLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--static-white);
}

.contentArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--static-white);
}

