@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import "./styles/variables.css";
@import "./styles/layout.css";
@import "./styles/interface.css";

body {
  background-color: var(--static-white);
  margin: 0;
  padding: 0;
}
