@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import "./styles/variables.css";
@import "./styles/layout.css";
@import "./styles/interface.css";

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  background-color: var(--static-white);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
