.btn {
  display: inline-block;
  padding: 12px 24px;
  border-radius: var(--radius-md);
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
  background-color: var(--background-default);
  color: var(--static-black);
}

.btn-primary {
  background: var(--gradient-primary);
  color: var(--static-white);
}

.btn:hover,
.btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow-hover);
  color: var(--static-white);
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  color: var(--static-black);
}

h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  color: var(--static-black);
}

h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: var(--static-black);
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--static-black);
}

.pointer {
  cursor: pointer;
}
